# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
.idea/
.vscode/
*.iml

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Mac
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs
logs/
*.log

# Generated
pubspec.lock

# Others
.env
